.pixel-blast-container {
  position: absolute;
  inset: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.pixel-blast-container canvas {
  display: block;
  width: 100% !important;
  height: 100% !important;
}
